*.csv
*1987.ipynb
*1989.ipynb
*1990.ipynb
*1991.ipynb
*1992.ipynb
*1993.ipynb
*1994.ipynb
*1995.ipynb
*1996.ipynb
*MasterDF.ipynb
*queries.sql
data_cleaning.py
Misc.py
flights2.py
flights_private.py
data_extraction.py